node_modules
# Keep environment variables out of version control
# Ignore environment variables
.env

# Ignore login page
login.*

# Ignore middleware files
middleware/

# Ignore Prisma schema
schema.prisma

package-lock.json